<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" routerLink="">Imperio</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="catalogo">Catálogo<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="pedido">Pedido <span class="badge badge-primary badge-pill">{{count() | async}}</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" routerLink="#">Próximo</a>
        </li>
        
		<li class="nav-item dropdown" ngbDropdown>
		  <a class="nav-link dropdown-toggle" id="dropdown01" ngbDropdownToggle>Categorias</a>
		  <div class="dropdown-menu" aria-labelledby="dropdown01" ngbDropdownMenu>
		    <a class="dropdown-item" routerLink="#">Camisas Formales</a>
		    <a class="dropdown-item" routerLink="#">Pantalones Formales</a>
		    <a class="dropdown-item" routerLink="#">Chaquetas</a>
		  </div>
		</li>
      </ul>
      <div class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="text" placeholder="buscar" aria-label="buscar">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">buscar</button>
      </div>
    </div>
  </nav>